.header {
  color: white;
  background-color: rgb(224, 165, 165);
  height: 150px;
  display: flex;
  justify-content: center;
}
.header img {
  height: 150px;
}
@media (max-width: 700px) {
  .header {
    display: none;
  }
}
